@using FinanceLibrary.Classes
@using FinanceLibrary.Classes.Language
@using Finance_Website.Models.Utilities
@using Newtonsoft.Json
@{
    SessionUtility userUtility = Session["UserUtility"] as SessionUtility;
    User user = userUtility.User;
    Language language = userUtility.Language;

    ViewBag.Title = $"{user.Name.Trim()}'s {language.GetText(11)}";
}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">@language.GetText(12)</div>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>@language.GetText(71)</th>
                        <td id="UserTotalBalance"></td>
                    </tr>
                    <tr>
                        <th>@language.GetText(66)</th>
                        <td id="UserPrediction"></td>
                    </tr>
                    <tr>
                        <th>@language.GetText(67)</th>
                        <td id="UserToPay"></td>
                    </tr>
                    <tr>
                        <th>@language.GetText(68)</th>
                        <td id="UserToGet"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Balance History</div>
            <!-- Graph HTML -->
            <div id="graph-wrapper">
                <div class="graph-container center-block">
                    <div id="graph-lines"></div>
                </div>
            </div>
            <!-- end Graph HTML -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active">
                <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-menu-hamburger icon-content" aria-hidden="true"></span>@language.GetText(13)
                </a>
            </li>
            <li role="presentation">
                <a href="#balances" aria-controls="balances" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-briefcase icon-content" aria-hidden="true"></span>@language.GetText(14)
                </a>
            </li>
            <li role="presentation">
                <a href="#monthlybills" aria-controls="monthlybills" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-arrow-up icon-content negative" aria-hidden="true"></span>@language.GetText(15)
                </a>
            </li>
            <li role="presentation">
                <a href="#monthlyincome" aria-controls="monthlyincome" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-arrow-down icon-content positive" aria-hidden="true"></span>@language.GetText(16)
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="overview">
                <button type="button" class="body-content btn btn-success" data-toggle="modal" data-target="#QuickTransaction">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @language.GetText(1)
                </button>

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">@language.GetText(13)</div>

                </div>

                <div class="panel-group" id="accordion">
                    <div id="TransactionList">

                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane fade" id="balances">

                <button type="button" class="body-content btn btn-success" data-toggle="modal" data-target="#AddBalanceModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @language.GetText(1)
                </button>

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">@language.GetText(14)</div>

                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>@language.GetText(19)</th>
                                    <th>@language.GetText(21)</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="UserBalances">
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="monthlybills">
                <button type="button" class="body-content btn btn-success" data-toggle="modal" data-target="#AddMonthlyBill">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @language.GetText(1)
                </button>
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">@language.GetText(15)</div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>@language.GetText(19)</th>
                                    <th>@language.GetText(17)</th>
                                    <th>@language.GetText(20)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="UserBills">
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="monthlyincome">


                <button type="button" class="body-content btn btn-success" data-toggle="modal" data-target="#AddMonthlyIncome">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @language.GetText(1)
                </button>
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">@language.GetText(16)</div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>@language.GetText(19)</th>
                                    <th>@language.GetText(17)</th>
                                    <th>@language.GetText(20)</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="UserIncome">
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ModelsPartial")

<script>
    var user = @Html.Raw(JsonConvert.SerializeObject(user));
    var language = @Html.Raw(JsonConvert.SerializeObject(language));
</script>
