<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Finance</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top primary-background">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle primary-content" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: #ffffff;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("WhatPays.Me", "Index", "Account", new {area = ""}, new {@class = "navbar-brand primary-content" })
        </div>
        <div class="navbar-collapse collapse primary-content">
            <ul class="nav navbar-nav">
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
    
<div class="container body-content">
    @Html.Partial("_MessagePartial")
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Jandie Hendriks Finance</p>
    </footer>
</div>

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Scripts.js"></script>
</body>
</html>