@using Finance_Website.Models.Utilities
@using Library.Classes
@using Library.Classes.Language

@{
    SessionUtility userUtility = Session["UserUtility"] as SessionUtility;
    Language language = userUtility.Language;

    ViewBag.Title = "_LoginPartial";
}

<li class="dropdown">
    <a href="#" class="dropdown-toggle primary-content primary-background" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
    <ul class="dropdown-menu primary-background">
        @if (userUtility.User != null)
        {
            var user = Session["user"] as User;

            <li>@Html.ActionLink($"{language.GetText(11)}", "Index", "Account", new { area = "" }, new { @class = "primary-content primary-background" })</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink($"{language.GetText(9)}", "MyAccount", "Account", new {area = ""}, new {@class = "primary-content primary-background" })</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink(language.GetText(10), "Loguit", "Account", new { area = "" }, new { @class = "primary-content primary-background" })</li>
        }
        else
        {
            <li>@Html.ActionLink(language.GetText(3), "Login", "Account", new { area = "" }, new { @class = "primary-content primary-background" })</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink(language.GetText(8), "Register", "Account", new { area = "" }, new { @class = "primary-content primary-background" })</li>
        }
    </ul>
</li>