@using Library.Classes

@{
    ViewBag.Title = "Overview";

    User user = ViewBag.User as User;

    string classActive = "Class=active";
    string active = "active";
}

<h2>Overview</h2>



<div class="row">
    <div>
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" @if(Session["LastTab"] == null) {Session["LastTab"] = null; @classActive }><a href="#balances" aria-controls="balances" role="tab" data-toggle="tab">Balances</a></li>
                <li role="presentation" @if(Session["LastTab"]?.ToString() == "2") {@classActive }><a href="#monthlybills" aria-controls="monthlybills" role="tab" data-toggle="tab">Monthly bills</a></li>
                <li role="presentation" @if(Session["LastTab"]?.ToString() == "3") {@classActive }><a href="#monthlyincome" aria-controls="monthlyincome" role="tab" data-toggle="tab">Monthly income</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane @if(Session["LastTab"] == null) {Session["LastTab"] = null; @active }" id="balances">
                    <h3>Balances:</h3>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddBalanceModal">
                            Add Balance
                        </button>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>BalanceAmount</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (Balance balance in user.BankAccounts)
                            {
                                <tr>
                                    <td>@balance.Name</td>
                                    <td>@balance.BalanceAmount.ToString("0.00")</td>
                                    <td>
                                        <a class="btn btn-primary" href="~/Manage/Balance?id=@balance.Id" role="button">Manage</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane @if(Session["LastTab"]?.ToString() == "2") {Session["LastTab"] = null; @active }" id="monthlybills">
                    <h3>Monthly bills:</h3>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddMonthlyBill">
                            Add monthly bill
                        </button>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Paid</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (MonthlyBill bill in user.Payments.OfType<MonthlyBill>())
                            {
                                <tr>
                                    <td>@bill.Name</td>
                                    <td>@bill.Amount.ToString("0.00")</td>
                                    <td>@bill.GetTotalAmount().ToString("0.00")</td>
                                    <td>
                                        <a class="btn btn-primary" href="~/Manage/Payment?id=@bill.Id&type=Monthly bill&lastTab=2" role="button">Manage</a>
                                        <a class="btn btn-primary" href="~/Action/Transaction?paymentId=@bill.Id&lastTab=2" role="button">Pay</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane @if(Session["LastTab"]?.ToString() == "3") {Session["LastTab"] = null; @active }" id="monthlyincome">
                    <h3>Monthly income:</h3>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddMonthlyIncome">
                            Add monthly income
                        </button>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Paid</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (MonthlyIncome income in user.Payments.OfType<MonthlyIncome>())
                            {
                                <tr>
                                    <td>@income.Name</td>
                                    <td>@income.Amount.ToString("0.00")</td>
                                    <td>@income.GetTotalAmount().ToString("0.00")</td>
                                    <td>
                                        <a class="btn btn-primary" href="~/Manage/Payment?id=@income.Id&type=Monthly income&lastTab=3" role="button">Manage</a>
                                        <a class="btn btn-primary" href="~/Action/Transaction?paymentId=@income.Id&lastTab=3" role="button">Pay</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ModelsPartial")
