@using Library.Classes
@using Library.Classes.Language

@{


    User user = ViewBag.User as User;
    Language language = Session["Language"] as Language;
    List<Language> languages = ViewBag.Languages as List<Language>;
    List<Currency> currencies = ViewBag.Currencies as List<Currency>;

    ViewBag.Title = language.GetText(72);
}

<h2>@ViewBag.Title</h2>

@if (language != null && user != null)
{
    using (Html.BeginForm())
    {
        <input type="hidden" class="form-control" id="email" name="email" value="@user.Email" required disabled>

        <div class="form-group">
            <label for="name">@language.GetText(19)</label>
            <div class="input-group">
                <input type="text" class="form-control" id="name" name="name" value="@user.Name" required>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">@language.GetText(59)</label>
            <div class="input-group">
                <input type="text" class="form-control" id="lastName" name="lastName" value="@user.LastName" required>
            </div>
        </div>

        <div class="form-group">
            <label for="email">@language.GetText(4)</label>
            <div class="input-group">
                <input type="text" class="form-control" id="email" value="@user.Email" required disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="currency">@language.GetText(65)</label>
            @if (currencies != null)
            {
                <select class="form-control" id="currency" name="currencyId" style="max-width: 196px">
                    @foreach (Currency c in currencies)
                    {
                        if (user.Currency.Id == c.Id)
                        {
                            <option value="@c.Id" selected>@c.Abbrevation</option>
                        }
                        else
                        {
                            <option value="@c.Id">@c.Abbrevation</option>
                        }
                    }
                </select>
            }
        </div>

        <div class="form-group">
            <label for="language">@language.GetText(64)</label>
            @if (languages != null)
            {
                <select class="form-control" id="language" name="languageId" style="max-width: 196px">
                    @foreach (Language l in languages)
                    {
                        if (user.LanguageId == l.Id)
                        {
                            <option value="@l.Id" selected>@l.Name</option>
                        }
                        else
                        {
                            <option value="@l.Id">@l.Name</option>
                        }
                    }
                </select>
            }
        </div>

        <div class="form-group">
            <label for="currentPassword">@language.GetText(73)</label>
            <div class="input-group">
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
            </div>
        </div>

        <p>Change password (optional)</p>

        <div class="form-group">
            <label for="password">@language.GetText(74)</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>

        <div class="form-group">
            <label for="password">@language.GetText(75)</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password2">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">
                @language.GetText(8)
            </button>
        </div>
    }
}

