@using Finance_Website.Models.Utilities
@using Library.Classes
@using Library.Classes.Language

@{
    UserUtility userUtility = Session["UserUtility"] as UserUtility;
    Language language = userUtility.Language;

    List<Currency> currencies = ViewBag.Currencies as List<Currency>;
    List<Language> languages = ViewBag.Languages as List<Language>;

    ViewBag.Title = language.GetText(8);
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="name">@language.GetText(19)</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" name="name" value="@ViewBag.Name" required>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">@language.GetText(59)</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="lastName" name="lastName" value="@ViewBag.LastName" required>
                </div>
            </div>

            <div class="form-group">
                <label for="email">@language.GetText(4)</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="email" name="email" value="@ViewBag.Email" required>
                </div>
            </div>
            
            <div class="form-group"> 
                <label for="currency">@language.GetText(65)</label>
                @if (currencies != null)
                {
                    <select class="form-control" id="currency" name="currencyId" style="max-width: 196px">
                        @foreach (Currency c in currencies)
                        {
                            <option value="@c.Id">@c.Abbrevation</option>
                        }
                    </select>
                }
            </div>

            <div class="form-group">
                <label for="language">@language.GetText(64)</label>
                @if (languages != null)
                {
                <select class="form-control" id="language" name="languageId" style="max-width: 196px">
                    @foreach (Language l in languages)
                    {
                        <option value="@l.Id">@l.Name</option>
                    }
                </select>
                }
            </div>

            <div class="form-group">
                <label for="password">@language.GetText(5)</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>

            <div class="form-group">
                <label for="password">@language.GetText(75)</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password2" required>
                </div>
            </div>

            <div class="form-group">
                <label for="alphaKey">Alpha Key</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="alphaKey" name="alphaKey" value="@ViewBag.AlphaKey" required>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">
                    @language.GetText(8)
                </button>
            </div>
        }
    </div>
    <div class="col-md-4"></div>
</div>