@using Finance_Website.Models.Utilities
@using FinanceLibrary.Classes.Language
@{
    SessionUtility userUtility = Session["UserUtility"] as SessionUtility;
    Language language = userUtility?.Language ?? new Language(0, "", "");

    ViewBag.Title = "_LoginPartial";
}

<li class="dropdown">
    <a href="#" class="dropdown-toggle primary-content primary-background" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
    <ul class="dropdown-menu primary-background">
        @if (userUtility?.User != null)
        {
            <li>@Html.ActionLink($"{language.GetText(11)}", "Index", "Account", new {area = ""}, new {@class = "primary-content primary-background"})</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink($"{language.GetText(9)}", "MyAccount", "Account", new {area = ""}, new {@class = "primary-content primary-background"})</li>
            <li role="separator" class="divider"></li>
            <li onclick="logOut()"><a class="primary-content primary-background" href="#">@language.GetText(10)</a></li>
        }
        else
        {
            <li>@Html.ActionLink(language.GetText(3), "Login", "Account", new {area = ""}, new {@class = "primary-content primary-background"})</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink(language.GetText(8), "Register", "Account", new {area = ""}, new {@class = "primary-content primary-background"})</li>
        }
    </ul>
</li>