@using Finance_Website.Models.Utilities
@using Library.Classes
@using Library.Classes.Language
@using Library.Interfaces

@{
    UserUtility userUtility = Session["UserUtility"] as UserUtility;
    Language language = userUtility.Language;
    IPayment payment = ViewBag.Payment as IPayment;
    List<Transaction> transactions = payment.AllTransactions;

    ViewBag.Title = $"{ViewBag.Type} {payment?.Name}";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

@if (payment != null)
{
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("ChangePayment", "Manage"))
            {
                <input type="hidden" class="form-control" name="id" aria-describedby="basic-addon3" value="@payment.Id">
                <div class="form-group">
                    <label for="name">@language.GetText(19)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3" value="@payment.Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="balance">@language.GetText(17)</label>
                    <div class="input-group">
                        <input type="number" step="any" class="form-control" id="balance" name="amount" aria-describedby="basic-addon3" value="@payment.Amount" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">@language.GetText(2)</button>
                        <a class="btn btn-danger" href="~/Manage/DeletePayment?id=@payment.Id" role="button">@language.GetText(30)</a>
                    </div>
                </div>
            }
        </div>
    </div>
    if (transactions != null)
    {
         <div class="row">
             <div class="col-md-12">
                 <div class="panel panel-primary">
                     <!-- Default panel contents -->
                     <div class="panel-heading">@language.GetText(13)</div>
                     <!-- Table -->
                     <table class="table table-hover">
                         <thead>
                             <tr>
                                 <th>@language.GetText(17)</th>
                                 <th>@language.GetText(18)</th>
                                 <th></th>
                             </tr>
                         </thead>

                         <tbody>
                             @foreach (Transaction t in transactions)
                             {
                                 <tr>
                                     <td>@t.Amount.ToString("0.00")</td>
                                     <td>@t.Description</td>
                                     <td>
                                         <div class="btn-group">
                                             <a class="btn btn-primary btn-sm" role="button" href="~/Manage/Transaction?id=@t.Id"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                             <a class="btn btn-danger btn-sm" role="button" href="~/Manage/DeleteTransaction?id=@t.Id"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                         </div>
                                     </td>
                                 </tr>
                             }
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     }
}
else
{
    <p>There is no balance available</p>
}
