@using Library.Classes
@using Library.Classes.Language
@{
    Language language = Session["Language"] as Language;

    ViewBag.Title = language.GetText(62);

    Transaction transaction = ViewBag.Transaction as Transaction;
}

<h2>@ViewBag.Title</h2>

@if (transaction != null)
{
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm())
            {
                <input type="hidden" class="form-control" name="id" aria-describedby="basic-addon3" value="@transaction.Id">
                <div class="form-group">
                    <label for="description">@language.GetText(18)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="description" name="description" aria-describedby="basic-addon3" value="@transaction.Description">
                    </div>
                </div>

                <div class="form-group">
                    <label for="amount">@language.GetText(22)</label>
                    <div class="input-group">
                        <input type="number" step="any" class="form-control" id="amount" name="amount" aria-describedby="basic-addon3" value="@transaction.Amount" required>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        @language.GetText(2)
                    </button>
                </div>

                <div class="form-group">
                    <a class="btn btn-danger" href="~/Manage/DeleteTransaction?id=@transaction.Id" role="button">@language.GetText(30)</a>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>There is no transaction available</p>
}
